version: '3.8'

services:
  # Base de datos de Series de Tiempo (Optimizada para escritura masiva)
  influxdb:
    image: influxdb:2.7
    container_name: influxdb_market
    ports:
      - "8088:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUX_USER}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUX_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUX_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUX_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUX_TOKEN}
    volumes:
      - influxdb_data_v2:/var/lib/influxdb2
    networks:
      - proxy_network

  # Servicio 1: El Recolector (Ingesta y Escritura)
  collector:
    build: ./collector
    container_name: market_collector
    restart: always
    environment:
      - FMP_API_KEY=${FMP_API_KEY}
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - INFLUX_ORG=${INFLUX_ORG}
      - INFLUX_BUCKET=${INFLUX_BUCKET}
      - INTERVAL_SECONDS=30
    depends_on:
      - influxdb
    networks:
      - proxy_network

  # Servicio 2: La API (Cálculo y Exposición para venta)
  api:
    build: ./api
    container_name: market_api
    ports:
      - "8112:8000"
    restart: always
    environment:
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - INFLUX_ORG=${INFLUX_ORG}
      - INFLUX_BUCKET=${INFLUX_BUCKET}
    depends_on:
      - influxdb
    networks:
      - proxy_network

volumes:
  influxdb_data_v2:


networks:
  proxy_network:
    external: true
